* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #bca2a2;
}

header {
    background-color: #4a4c4e;
    color: rgb(218, 217, 217);
    padding: 20px;
    margin: 20px 0;
    text-align: center;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.profile-picture {
    border-radius: 10px;
    border: 3px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.about-me {
    font-size: larger;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    word-spacing: 5px;
}

.about-me h2 {
    margin-bottom: 15px;
}

.about-me p {
    margin-bottom: 10px;
}

.my-skills,
.projects,
.contact-details {
    margin: 30px 0;
    padding: 20px;
}

.my-skills h3,
.projects h3,
.contact-details h3 {
    margin-bottom: 10px;
    font-size: large;
    padding: auto;
}

.my-skills ul {
    list-style-type: square;
    padding: 10px;
    font-size: large;
}


.projects a {
    text-decoration: none;
    font-size: large;
    color: black;
    font-style: italic;
}

.project-title {
    margin: 15px 0;
    font-size: large;
    font-weight: bold;
}

.project-description {
    margin-bottom: 20px;
    font-size: medium;
    line-height: 1.5;
}

.projects ul,
.contact-details a {
    list-style-type: none;
    padding: 10px;
    font-size: large;
    color: black;
}

.change-color {
    margin-top: 20px;
    text-align: center;
}

.colorButton {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;

}

.copyright-section {
    background-color: #4a4c4e;
    color: rgb(218, 217, 217);
    padding: 20px;
    margin: 20px 0;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .introduction {
        flex-direction: column;
        align-items: center;
    }

    .profile-picture {
        margin: 0 0 20px 0;
    }

    .about-me {
        text-align: center;
    }

    .my-skills ul,
    .projects ul,
    .contact-details a {
        padding: 0;
    }

    .colorButton {
        width: 100%;
    }
}